*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  /* 1 rem = 10 px ==> desktop mode */
  font-size: 62.5%;
  line-height: 0.8rem;
}
body {
  overflow-x: hidden;
}

/* fonts */
@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/font/HelveticaNeue.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueBd";
  src: url("../assets/font/HelveticaNeueBd.ttf") format("truetype");
}
.fontBold {
  font-family: "HelveticaNeueBd";
  font-size: 1.2rem;
}
.fontRegular {
  font-family: "HelveticaNeue";
  font-size: 1.2rem;
}
.shadowBox{
     box-shadow: 0 10px 20px 0 rgba(119, 119, 119, 0.2);
}
.bgColor {
  width: 100%;
  height: 100vh;
  background-color: rgba(162, 162, 162, 0.07);
}
.container {
  width: 100%;
  height: 100vh;
}

.boxInput {
  width: 100%;
  height: 12%;
  background-color: #eff4f7;
  border-radius: 5px;
  margin-top: 10px;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
}
.btn {
  height: 10%;
  border-radius: 50px !important;
  color: white !important;
}
